@font-face {
    font-family: apercu-300;
    src: url(./../fonts/apercu/Apercu\ Light.otf)
}

@font-face {
    font-family: apercu-400;
    src: url(./../fonts/apercu/Apercu\ Regular.otf);
}

@font-face {
    font-family: apercu-500;
    src: url(./../fonts/apercu/Apercu\ Medium.otf);
}

@font-face {
    font-family: apercu-700;
    src: url(./../fonts/apercu/Apercu\ Pro\ Bold.otf);
}


@font-face {
    font-family: futurak;
    src: url(./../fonts/futurak/futurak.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --black: #000;
    --white: #ffffff;
    --red: #E62E2D;
    --sub-heading-red: #ED1C24;
    --green: #28a745;
    --heading-futurak: futurak;
    --heading-and-para-light: apercu-300;
    --heading-and-para-regular: apercu-400;
    --heading-and-para-medium: apercu-500;
    --heading-and-para-bold: apercu-700;
    --background-dark-grey: #0F0F0F;
    --para-grey: #ffffffb3;
}

body {
    background-color: var(--black);
}


.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

li {
    list-style: none;
}

/* NAVBAR  CSS START */
.navbar .logo {
    width: 15%;
}

.navbar li a {
    color: var(--white);
    font-family: var(--heading-and-para-regular);
    font-size: 1.4rem;
}

.two-buttons .get-a-franchise {
    font-size: 1.4rem;
    padding: 16px 18.5px;
    font-family: var(--heading-and-para-regular);
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);
    border-radius: 30px;
}

.two-buttons .order-online {
    font-size: 1.4rem;
    padding: 12px 16.5px;
    font-family: var(--heading-and-para-regular);
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);
    border-radius: 30px;
}

.two-buttons .order-online i {
    color: var(--red);
    background-color: var(--white);
    border-radius: 30px;
    font-size: 1.8rem;
    padding: 5px;
}

/* NAVBAR  CSS END */
/* BOOK SECTION CSS STARTED */
.books .book-one{
    border-color: #ffffff52;
}
.books .book-two{
    border-color: #ffffff52;
}
.two-books h1 {
    font-size: 4.8rem;
    font-family: var(--heading-and-para-regular);
    font-weight: 400;
    color: var(--white);
}
.adresses .address-one .name {
    font-size: 1.6rem;
    font-family: var(--heading-and-para-regular);
    font-weight: 400;
    color: var(--white);
}
.adresses .address-one .address {
    font-size: 1.4rem;
    font-family: var(--heading-and-para-regular);
    font-weight: 400;
    color: var(--para-grey);
}
.adresses .address-one .phone {
    font-size: 1.4rem;
    font-family: var(--heading-and-para-regular);
    font-weight: 400;
    color: var(--para-grey);
}
/* BOOK SECTION CSS ENDED */















/* FOOTER SECTION CSS STARTED */

.footer {
    background-color: var(--background-dark-grey);
    background-image: url(./../images/home-img/s-position.webp);
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

.img-para {
    width: 33%;
}
.site-links {
    width: 16.5%;
}


.contact-us {
    width: 25%;
}

.site-links {
    width: 16.5%;
}

.img-para img {
    width: 200px;
}

.img-para p {
    font-family: var(--heading-and-para-regular);
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--para-grey);
}

.link {
    text-decoration: none;
    font-family: var(--heading-and-para-regular);
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--para-grey);
}
.contact-us p {
    font-family: var(--heading-and-para-regular);
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--para-grey);
}

.site-links .menu-list li a {
    font-family: var(--heading-and-para-regular);
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--para-grey);
}

.footer .f-heading {
    font-size: 1.8rem;
    color: var(--white);
    font-family: var(--heading-and-para-regular);
    font-weight: 300;
}
.social-medias .social-icon {
    color: #fff;
    font-size: 20px;
    background: red;
    padding: 12px;
    border-radius: 50%;
}
.social-medias .fa-facebook-f {
    padding: 12px 16px;
}   

.follow-us .clients {
    width: 160px;
}
/* FOOTER SECTION CSS ENDED */